<div class="well">
  <b>{{answer.author}}</b>
  <p>{{answer.content}}</p>
  {{update-answer answer=answer updateAnswer='updateAnswer'}}
  <button class='btn-sm' {{action 'delete' answer}}>delete answer</button>
</div>
