{{#link-to 'question' question.id}}
  <h3>"{{question.content}}" <span class="q-date">{{question.date}}</span></h3> <h5>- <em>{{question.author}}</em></h5>
  <img src={{question.image}} class="img-circle" alt="thumbnail question pic">
{{/link-to}}
