{{#link-to 'question' question.id}}
  <h3>"{{question.content}}"</h3> <h5>- <em>{{question.author}}</em></h5>
  <img src={{question.image}} class="thumbnail" alt="thumbnail question pic">
{{/link-to}}
