body, html {
  height: 100%;
  margin: 0;
}

.jumbotron {
  font-family: 'Cherry Swash', cursive;
  color: rgb(255, 132, 10);
  background-color: rgba(255, 255, 255, 0.0);
  padding-top: 80px;
  text-align: center;
}

.jumbotron, .qs {
  font-family: 'Cherry Swash', cursive;
}

#background {
  background-image: url(/assets/images/ember.jpeg);
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.img-circle {
  max-width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.header {
  text-align: center;
}

#nav {
  word-spacing: 30px;
}

.btn {
  margin: 10px 0px;
}

.question-pic {
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  width: 30%;
}

.well {
  background: rgb(164, 190, 232);
  border-radius: 10px;
}

.q-date {
  font-size: 15px;
}

a {
  color: rgb(188, 53, 0);
}

.btn-sm {
  background: orange;
}

#update-answer-btn{
  background: yellow;
}
