.thumbnail {
  width: 100px;
  border-radius: 15px;
}

.header {
  text-align: center;
}

#nav {
  word-spacing: 30px;
}

.btn {
  margin: 10px 0px;
}

.question-pic {
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}
