
<div class='header'>
  <div class= "jumbotron">
    <div class="container">
      <h1>Ask Me Anything!</h1>
    </div>
  </div>
  <div id="nav">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
