<h2 class="qs">Question in full</h2>

{{question-detail question=model updateQuestion="updateQuestion" destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer" updateAnswer="updateAnswer"}}
{{new-answer saveAnswer='saveAnswer' question=model}}
